html, body, #root {
    height: 100%;
  }
  /* Clear floats */
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .clearfix {
    display: block;
  }